<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ZapWeb</title>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    @RenderSection("style", false)
</head>
<body>
    @RenderBody()

    <script type="text/javascript" src="~/js/site.js"></script>
    <script type="text/javascript" src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
